In [1]:
import pandas as pd
from pathlib import Path

In [2]:
home_dir = Path(".").resolve()
# main_dir = home_dir.parent.parent
print(home_dir)
data_dir = str(home_dir) + "/data"
print(data_dir)

/home/jovyan/Emma/Capstone
/home/jovyan/Emma/Capstone/data

In [3]:
df = pd.read_csv(str(data_dir)+'/'+ 'SBAnational.csv')

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3552: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [10]:
np.random.seed(13)
df_small = df.sample(frac=0.54, replace=False)

In [11]:
df_small.head()

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
10204,1071475005,"Savannah Joe's BBQ, Inc.",BAYONNE,NJ,7002,BANK OF AMERICA NATL ASSOC,RI,722110,28-Sep-04,2004,...,Y,N,NaN,31-Oct-04,"$100,000.00",$0.00,P I F,$0.00,"$100,000.00","$50,000.00"
269103,2877336009,KAREN'S KITCHEN & GOURMET SHOP,BEDFORD,NH,3110,MERRIMACK COUNTY SAVINGS BANK,NH,722110,29-Jun-07,2007,...,0,N,16-Dec-11,31-Aug-07,"$125,000.00",$0.00,CHGOFF,"$78,448.00","$125,000.00","$62,500.00"
219134,2549205010,7 Station,HOUSTON,TX,77075,JPMORGAN CHASE BANK NATL ASSOC,IL,447110,2-Jul-07,2007,...,Y,N,NaN,31-Aug-07,"$99,891.00",$0.00,P I F,$0.00,"$40,000.00","$20,000.00"
198717,2401714007,GINA'S PIZZA,ALBANY,CA,94706,LOANS FROM OLD CLOSED LENDERS,DC,0,21-Oct-98,1999,...,0,N,NaN,30-Nov-98,"$112,000.00",$0.00,P I F,$0.00,"$112,000.00","$84,000.00"
500179,4842063000,LINEAL AIR DIFFUSERS INC,UNION,MO,63084,UNITED BANK OF UNION,MO,0,12-May-92,1992,...,N,N,28-Aug-94,31-Jul-92,"$600,000.00",$0.00,CHGOFF,"$263,304.00","$600,000.00","$510,000.00"

In [8]:
df_small.to_csv('SBA_test.csv')